<script>
$(document).ready(function(){ 

  // grab the 'recipes-con'
  var $recipesCon = $("#recipes-con"); 

      var user = location.pathname.split('/')[2]; 
      var path = location.pathname + '.json';

    $.get(path)
      .done(function (recipes) {
        console.log("All Recipes:", recipes);

        // append each recipes
        recipes.forEach(function (recipe) {
          $recipesCon.append("<div class=\"recipe\" data-id=" + recipe.id + "><h3>" + recipe.name + "</h3>"
            + 
          "<button class=\"edit\">Edit</button>" +
          "<button class=\"delete\">Delete</button></div>"); 
        });

      });
      // grab the form
     var $recipeForm = $("#new_recipe"); 


     // AJAX CREATE A RECIPE
     $recipeForm.on("submit", function (event) {
      event.preventDefault(); 
      console.log("Form submitted", $(this).serialize());

      var recipeName = $("#recipe_name").val(); 
      // var ingredient = $("#recipe_ingredient_item_id").val();
      // var ingredientAmount = $("#recipe_ingredient_quant_of_item_eaten").val(); 
      $.post(path, 
            $recipeForm.serialize(), 
            function(data, textStatus, jqXHR) {


              alert(recipeName + "recipe created!");

        // Set the data received from the request to an
        // element on the page with id="form_errors"
              $( "#form_errors" ).html( data );
            }
             ).done(function (createdRecipe) {
              console.log(createdRecipe)
        $recipesCon.append("<div class=\"recipe\">" + createdRecipe.name + 
          "<button class=\"edit\">Edit</button>" +
          "<button class=\"delete\">Delete</button></div>");
      }); 
     }); 
  //  setup a click handler that only
    //  handle clicks from an element
    //  with the `.delete` className
    //  that is inside the $recipesCon

    //DELETE A RECIPE
     $recipesCon.on("click", ".delete", function (event) {
      alert("I wask clicked!"); 

      var $this = this; 
      
      // grab the entire recipe
      var $recipe = $this.closest('.recipe'); 

      console.log($recipe); 
      console.log($this); 

      //send our delete request
      $.ajax({
        url: "/users/" + user + "/recipes/" + parseInt($recipe.dataset.id) + ".json",
        type: "DELETE"
      }).done(function(){
        //once we completed the delete
        $recipe.remove(); 
      })
     }); 

     // EDIT A RECIPE
     $recipesCon.on("click", ".edit", function () {
      preventDefault(); 
      var $recipe = $(this).closest(".recipe"); 

      $.ajax({
        url: "/users/" + user + "/recipes/" + $recipe.data("id") + ".json", 
        type: "PATCH",
        data: {
          recipe: {
            completed: this.checked
          }
        } 
      });
     }); 

     //ADD FORM AJAX and JQUERY FUNCTIONALITY

     //hide the recipe form
      $recipeForm.hide();

      $('#form_hider').click(function (event) {
      event.preventDefault();
      console.log('click');
      $recipeForm.hide()
      
     }); 

      //unhide the recipe form
     $('#form_adder').click(function (event) {
      event.preventDefault();
      console.log('click');  
      $recipeForm.show(); 
     }); 

     // grab ingredient field
     var $ingredientField = $('.ingredient_field')

     // add ingredent field to Recipe form
     $("#field_adder").click(function( event ) {
        event.preventDefault();
        $(".ingredient_fields").append("<div class=\"ingredient_field\">" + $ingredientField.html() + "</div>")
        clicker();
      });// ^
  //        |
  // Event listener function that... keeps listening?(thanks Mike!)
     var clicker = function() {
      $(".field_remover").click(function( event ) {
        event.preventDefault();
        console.log('click'); 
        this.closest(".ingredient_field").remove()
        // $($ingredientField).remove(); 
      });
    };

}); //end ready
</script>