// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showMe {
  display: none;
}

.searchName {
  display: inline-block;
}

.searchName h3 {
  font-size: 16px;
}

.searchName:hover {
  opacity: .7;  
}

.searchItem {
  display: block;
}

.searchResults {
  margin: 10px 0 0 0;
}

.databaseItem {
  color: rgba(10, 120, 50, .9);
}

#sidebar{
  width: 250px;
  float:right;
  margin: 10px;  
}

#createItem {
  display: block;
  width: 250px;
  height: 50px;
  background: #F39C12;
  text-align:center;
  color: white;
  font-size: 35px;
  margin: 10px 0 0 0;
}

#createItem:hover {
  opacity: 0.7;
}

#createItem:active {
  background: black;
}

#checkout{
  margin: 20px 0;
}

#checkout p{
  text-align: center;
  font-size: 20px;
  margin: 20px 10px 0 0;
}

#checkoutButton{
  display: block;
  width: 235px;
  height: 50px;
  background: red;
  text-align:center;
  color: white;
  font-size: 35px;
  margin: 10px 0 0 0;
}

#calcButton{
  display: block;
  width: 250px;
  height: 50px;
  background: #27ae60;
  text-align:center;
  color: white;
  font-size: 35px;
  margin: 10px 0 0 0;
}

#calcButton:hover {
  opacity: 0.7;
}

#calcButton:active {
  background: black;
}

#checkoutDatetime{
  display: block;
}


#checkoutButton:hover {
  opacity: 0.7;
}

#checkoutButton:active {
  background: black;
}

.search{
}

#searchAPI{
  display: inline-block;
  width: 85px;
  height: 24px;
  background: #6C7A89;
  color: white;
  font-size: 14px;
  margin: 0 0 0 10px;
}

#nis{
  display: inline-block;
}

#message{
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.sideText{
  font-size: 25px;
  margin: 0 0 15px 0;
}

#dataItem{
  margin: 25px 0;
  padding: 30px 0;
}

